{% extends 'index/base.html' %}

{% block content %}
<h1>Congratulations !!!</h1>
<h1 style="color:red">{{ FLAG1 }}</h1>
<h1>You got 1 points !!!</h1>
<h1>However, in actual, another flag is other place !!!</h1>
<h1>Can you find that ???</h1>
{% endblock %}