{% extends 'index/base.html' %}

{% block content %}
<div>
  <p>
    インテリジェントネットワーク講座ではネットワーク技術を中心に、インターネットの次、携帯電話の次、無線LANの次を実現する技術を研究しています。現代でも重要なコンピュータネットワークですが、より高度なサービスやアプリケーションを提供すべくさらなる進化を遂げようとしています。例えばネットワークを介した遠隔手術。今はまだ制約が多いため不可能です。しかしながら、長距離をリアルタイムにかつ高信頼に情報交換が可能なコンピュータネットワークを開発できれば、人間の医者の指示に従う医療ロボットが人間の能力と同じ精度、場合によっては人間を超えた精度で世界中どこでも手術が受けることができるようになります。インテリジェントネットワーク講座では、このような高度な応用を実現するコンピュータネットワークの研究を行っています。
  </p>
  <p>
    研究に関連する主なキーワードはB5G/6G、IoT/M2M、VR/ARです。
    図1に示すように、ネットワークを中心に3つの領域が相互に関わりながら研究を進めています。
  </p>
  <p>
    B5G (Beyond 5G)と6Gは2020年にリリースされる予定の5Gのさらに次のワイヤレスネットワークを意味する言葉です。
    5G、さらに言うとLTEの段階で既にIoTは適用領域として視野に入っています。
    本講座では、本来は音声ネットワークであった携帯電話網、高速データ通信用として発展してきた無線LAN、IoTを対象としたIEEE 802.15.4やBluetoothなどの様々な観点から、新しい時代のワイヤレスネットワーク技術のあるべき姿に向けて取り組んでいます。
  </p>
  <p>
    IoT (Internet-of-Things)とM2M (Machine-to-Machine)はモノがネットワークに接続された状態を意味する言葉です。元来、ネットワークは人と人とを接続する技術でした。
    2000年ごろから徐々にモノをネットワークに接続する試みが開始され、今や車、自動販売機、ドローン、腕時計、テレビ、眼鏡、歯ブラシなど既に多くのモノがネットワークに接続され始めています。
    そしてモノをネットワークに接続するためにはワイヤレスネットワークが不可欠です。
  </p>
  <p>
    VR (Virtual Reality)やAR (Augmented Reality)は人間の現実(Reality)を変容させる技術を意味する言葉です。
    コンピュータネットワークが織りなす電脳空間にHMD (Head Mounted Display)などのデバイスを介して人間自体が入り込むのがVR、電脳空間が物理空間に染み出した状態が拡張現実であると捉えています。
    そしてVRやARの根幹となるHMD (Head Mounted Display)や360度カメラはモノがネットワークに繋がるという意味ではIoTデバイスに含まれます。
  </p>
  <p>
    In our intelligent network laboratory, we are studying network technologies that realize the next generation Internet, mobile phones, and wireless LANs. Although it is an important computer network in modern times, it is significantly evolving to provide more advanced services and applications. For example, remote surgery via a network is impossible now because there are still many restrictions. However, if a computer network capable of exchanging information over a long distance in real time and with high reliability can be developed, a medical robot that complies with the instructions of a human doctor can acquire the same accuracy as human ability. In some cases, we will be able to undergo surgery with higher-precisional surgery operated by the robot than human. In the intelligent network laboratory, we are researching computer networks that realize such advanced applications.
  </p>
  <p>
    Research keywords are B5G / 6G, IoT / M2M, VR / AR.
    As shown in Fig. 1, three areas are mainly involved in the network, and research is under way with mutual involvement.
  </p>
  <p>
    B5G (Beyond 5G) and 6G are the words meaning the next generation wireless network of 5G scheduled to be released in 2020.
    5G, or even at the stage of LTE, IoT has already come into view as an application area.
    In this laboratory, we are working towards B5G / 6G from various viewpoints such as mobile phone network which was originally a voice network, wireless LAN which has been developed for high speed data communication, IEEE 802.15.4 for IoT and Bluetooth It is.
  </p>
  <p>
    IoT (Internet-of-Things) and M2M (Machine-to-Machine) are words meaning that things are connected to the network. Originally, the network was a technology to connect person to person.
    Attempts to gradually connect things to the network began around 2000, and now many cars, vending machines, drone, wrist watches, televisions, glasses, toothbrushes, etc. are already connected to the network.
    And wireless network is essential technology to connect things to the network.
  </p>
  <p>
    VR (Virtual Reality) and AR (Augmented Reality) are words that mean technology that transforms human reality.
    We think that the state in which humans themselves enter through the devices such as HMD (Head Mounted Display) and the like in the computer network interworking space seeps into the physical space as VR, augmented space is augmented reality.
    And HMD (Head Mounted Display) and 360 degree camera which are the basis of VR and AR are included in IoT device in the sense that things are connected to the network.
  </p>
</div>
{% endblock %}