{% extends 'index/base.html' %}

{% block content %}
<div>
  <p>
  4K映像、ヘッドマウントマウントディスプレイ、全天球映像、多視点映像などさまざまな映像撮影技術やディスプレイ技術が登場しています。これらの技術は未来のVR（仮想現実: Virtual Reality）やAR（拡張現実: Augmented Reality）を実現するために不可欠な技術です。映像入力装置と映像出力装置をネットワークを介して接続することで、物理的に離れた空間やコンピュータ上の仮想空間を融合することが可能となります。本講座では、これら超臨場感映像を有線ネットワークや無線ネットワークを介して効率的に伝送するための通信方式の研究や、ネットワークゲームを提供するためのネットワークシステムやクラウドサービスなどの研究を行っています。
  </p>
  <p>
    Various video shooting technologies and display technologies such as 4K video, head mount mounted display, full celestial picture, multi-view video, etc. are appearing. These technologies are indispensable technologies to realize future VR (Virtual Reality) and AR (Augmented Reality). By connecting the video input device and the video output device via the network, it becomes possible to fuse the physically remote space and the virtual space on the computer. In this course, we are conducting research on communication methods to efficiently transmit these super-realistic images via wired networks and wireless networks.
  </p>
</div>
{% endblock %}