{% extends 'index/base.html' %}

{% block content %}
<div>
  <p>
    ワイヤレス技術の隆盛によってモノがネットワークに接続される「IoT (Internet-of-Things)」の時代が訪れつつあります。IoTが実現されることで我々の生活するこの物理空間の情報をコンピュータ上で扱うことが可能となり、新しいサービスを実現することができます。例えば、ドローンによる生活空間でのサービス、自動運転車、機器内センサネットワークなどを実現するためにはネットワーク技術の進化不可欠です。本講座では、センサからの情報を取り込むためのセンサネットワークや電波を用いてレーダーのようにダイレクトに物理空間の状態を抽出するワイヤレスセンシング、無線アクセスポイントから電力を伝送する無線電力伝送などの基礎研究から、崩壊現象のビッグデータを取得する軍艦島モニタリングの計測システムやクラウドサービスなどの応用研究まで幅広く取り組んでいます。
  </p>
  <p>
    The era of "Internet - of - Things (IoT)" where things are connected to the network by the prosperity of wireless technology is coming. By realizing IoT, it becomes possible to handle information on this physical space living our lives on computer, and we can realize new service. For example, evolution of network technology is indispensable to realize service in living space by drone, automatic driving car, in-device sensor network, etc. In this course, basic research such as wireless sensing that extracts the state of the physical space directly like a radar using a sensor network for capturing information from the sensor or radio waves, and wireless power transmission that transmits power from the wireless access point We are also working extensively on applied research such as war ship island monitoring which acquires big data of collapse phenomenon.
  </p>
</div>
{% endblock %}